@import '../../colors.scss';

.trash-button {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 8px;
  color: white;
  cursor: pointer;
}

tr:hover td{
  background-color: $color-gray-dark;
}


