@import "../../colors.scss";

@mixin icons {
    color: $color-green-dark;
    font-size: 4rem;
    margin-right: 1rem;
}

.register-area {
    margin: 2rem;

    .header {
        display: flex;
        justify-content: space-between;

        .title {
            font-size: 2rem;
        }
    }

    hr {
        height: .1rem;
        width: 80%;
        color: $color-gray-light;
        background: $color-gray-light;
        border-style: solid;
    }
}